body{
        background-color: rgb(41, 189, 189);

}
#corpo{
        width: 40%;
        height: 500px;
        background-color: rgb(101, 101, 245);
        margin-left: auto;
        margin-right: auto; 
        padding: 13px;
        
}
h1{
        padding-left: 45%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.enviar {
        width: 60%;
        height: 30px;
        margin-left:100px;
        margin-right: auto;
}
label{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding:auto;
}
.elementos{
        margin-left:auto;
        margin-right: auto;
}
footer{
        margin-left: auto;
        margin-right: auto;
}